<html>
  <head>
    <script src='/angular/angular.js'></script>
    <script src='/angular-ui-router/release/angular-ui-router.js'></script>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <!-- inject:js -->
    <script src="/browser/app.js"></script>
    <script src="/browser/AuthService.js"></script>
    <script src="/browser/navTabs.directive.js"></script>
    <!-- endinject -->
  </head>
  <body ng-app='app'>
    <div class='container'>
      <nav-tabs></nav-tabs>
      <ui-view></ui-view>
    </div>
  </body>
</html>
